@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.page {
    width: 100%;
    height: 782px;
    padding: 30px 50px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #242424;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.home {
    width: 100%;
}
.header {
    text-align: center;
    margin: 0 0 50px 0;
}
.header > h1 {
    margin-bottom: 40px;
}
.contacts {
    display: flex;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}
.icon-container {
    width: 50px;
    height: 50px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #284dfd;
}
.form-container {
    width: 100%;
    display: flex;
    background-color: #121212;
}
.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}
.input-row {
    width: 100%;
    gap: 20px;
    display: flex;
}
.input-container {
    width: 100%;
}
.input-row .input-container {
    width: 50%;
}
label {
    font-size: 12px;
}
input, textarea {
    color: white;
    margin: 10px 0 0 0;
    padding: 0 0 5px 0;
    background-color: transparent;
    border-bottom: 1px solid #9c9c9c;
    width: 100%;
}
input::placeholder,textarea::placeholder {
    color: #9c9c9c;
}
.message {
    resize: none;
    height: 65px;
}
.wolf-img {
    width: 40%;
}
.send-btn {
    background-color: #284dfd;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
}
.blue-text {
    color: #284dfd;
}