@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.page {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.page {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: white;
  background-color: #121212;
}
.page-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #1a4fff;
}
.page-header > h1 {
  font-size: 42px;
  border-bottom: 1px solid white;
}
.page-header > p {
  color: #8a8a8a;
}
.home {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: #141414;
  border: 2px solid white;
  display: grid;
  gap: 30px;
  box-shadow: rgba(138, 138, 138, 0.2) 0px 0px 10px 3px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.day h2 {
  text-decoration: underline 2px #1a4fff;
}
.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.task {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #121212;
  box-shadow: rgba(138, 138, 138, 0.2) 0px 0px 10px 0px;
}
.task-name {
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
  font-size: 20px;
  color: white;
}
.task-name:hover {
  text-decoration: underline 1.5px;
}
.preview-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(138, 138, 138, 0.2) 0px 2px 8px 0px;
}
