body,main,article,section,nav,form,div,h1,h2,h3,p,a,input,button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
input::placeholder {
    color: white;
}
body {
    color: white;
    background-image: url("./scenery-reflect.jpg");
    background-size: cover;
}
.main {
    width: 100%;
    height: 782px;
    padding: 0 100px;
    background-color: #1212128e;
}
.navbar {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 22%;
    color: #0f63fd;
}
.nav-container a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
.search-container  {
    width: 22%;
    display: flex;
    border: 1px solid #0f63fd;
    border-radius: 5px;
}
.search-bar {
    width: 65%;
    padding: 10px 10px;
}
.search-btn {
    width: 35%;
    border-radius: 0 5px 5px 0;
    background-color: #0f63fd;
    padding: 10px 0;
    text-align: center;
}
.home {
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
}
.content-wrapper {
    display: flex;
    width: 100%;
}
.home div article {
    width: 78%;
}
.main-text {
    font-size: 46px;
    letter-spacing: 1px;
}
.main-mid-text {
    color: #0f63fd;
    font-size: 56px;
    letter-spacing: 1px;
}
.desc {
    margin: 10px 0;
}
.home div article button {
    background-color: #0f63fd;
    color: white;
    margin: 20px 0 0 0;
    padding: 8px 40px;
    border-radius: 5px;
}
.home div form {
    width: 22%;
    text-align: center;
    background-color: #121212a6;
    padding: 30px;
    border-radius: 10px;
}
.form-title-container {
    width: 100%;
    margin: 0 0 30px 0;
    height: 35px;
    display: flex;
    background-color: white;
    color: #0f63fd;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.email,.password {
    width: 100%;
    height: 35px;
    background-color: transparent;
    border-bottom: 1px solid #0f63fd;
}
.password {
    margin: 30px 0;
}
.submit {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: #0f63fd;
}
.no-acc {
    margin: 20px 0 0 0;
}
.signup span {
    color: #0f63fd;
}
.alternate {
    font-size: 14px;
    margin: 15px 0;
}
.social {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}